@import '~@angular/material/theming';
@import '~src/app/themes/theme.scss';
section {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 100%;
    height: 100%;
}

section>* {
    grid-column: 5 / span 16;
}

.main-div {
    @include mat-elevation(4);
    position: relative;
    background-color: color(--div-main);
    height: 100%;
}

.page-title {
    padding: 10px;
    text-align: center;
    font-size: 32px;
}

.coupon-ruler{
    margin:0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
}

.coupon-line {
    padding-left: 20%;
    padding-right: 20%;
    display: flex; // justify-content: space-between;
    // align-items: center;
    flex: 1 1 0;
    font-size: 24px;
    span {
        line-height: 40px;
        flex-basis: 100%;
    }
    .price {
        text-align: right;
    }
}

.purchase-button {
    text-align: center;
    margin-top:30px;
    margin-bottom:100px;
    button {
        width: 70%;
    }
}