@import '~@angular/material/theming';
@import '~src/app/themes/theme.scss';
.main-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table-div {
    overflow-y: auto;
    flex: 1
}

.selection-div {
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 4px;
    height: fit-content;
    border-top: 1px solid black;
    box-sizing: border-box;
    button {
        height: 34px;
    }
}

table,
tr,
td {
    text-align: left;
    border-spacing: 0;
}

table {
    width: 100%;
    table-layout: auto;
    th {
        padding: 10px;
        border-top: 1px solid darkgray;
    }
    td {
        padding: 5px;
    }
    th:not(:first-child),
    td:not(:first-child) {
        border-left: 1px solid black;
    }
    td,
    th {
        border-bottom: 1px solid darkgray;
    }
    tr.selected {
        background-color: lightblue;
    }
}

.filter-div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

mat-form-field {
    margin-left: 5px;
    margin-right: 5px;
}