@import '~@angular/material/theming';
@import '~src/app/themes/theme.scss';
section {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 100%;
    height: 100%;
}

section>* {
    grid-column: 5 / span 16;
}

.main-div {
    @include mat-elevation(4);
    position: relative;
    background-color: color(--div-main);
    height: 100%;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
}

.form {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    mat-form-field {
        margin-bottom: 20px;
    }

    .button-div{
        margin-top:20px;
        margin-bottom:60px;
        button{
            width: 100%;
        }
        
    }
}

.error {
    color: color(--warning) !important;
}

.ok{
    color: color(--main) !important;
}