/* You can add global styles to this file, and also import other style files */
@import '~src/app/themes/theme.scss';
@import '~@angular/material/theming';
@import "~nouislider/distribute/nouislider.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body{
    background-color: color(--background);
    height:100%;
    margin:0;
    padding:0;
}